body {
  background: #3b4262;
  font-family: arial, sans-serif;
  overflow-y: scroll;
}

.timeline
{
  max-width: 1000px;
}
.item
{
  display: flex;
}
.item .icon
{  
}
.item .icon img
{
  width:128px;
}
.item .icon span {
  display: block;
  clear: both;
  padding: 0.25em 0;
  margin: 0.5em 0;
  background: #3b4262;
}
.item .details
{
  float:right;
  border: 2px solid #232b50;
  width:800px;
  border-radius: 0.5em;
  padding: 1.5em;
  margin: 1em 0;
  background-color: white;
}

a:visited { text-decoration: none;  }
a:hover { text-decoration: none;  }
a:focus { text-decoration: none;  }
a:hover, a:active { text-decoration: none;  }