---
title: Timeline
layout: layouts/base.njk
eleventyExcludeFromCollections: true
pagination:
  data: collections.series
  size: 9999
  alias: series
---
<article>
    <ul class="timeline">
    {% for post in series %}
        <li class="event" data-date="{{ post.date | readableDate }}">
            <a href="{{ post.url | url }}">
                <img class="icon" src="/media/{{ post.data.id }}/icon.jpg"/><span>{{ post.date | justYear }}</span>
            </div></a>
            <div class="details">
                <div class="item_tags">
                <div class="tag"><img src="/media/assets/tags/format_{{ post.data.format }}.png"></div>
                {% for tag in post.data.tags %}
                    {% if tag != "series" %}
                        <a href="/tags/{{ tag }}"><img class="tag" src="/media/assets/tags/{{ tag }}.png"</img></a>
                    {% endif %}   
                {% endfor %}
                </div>
                <a href="{{ post.url | url }}"><h1>{{ post.data.title }}<br>{{ post.data.name }}</h1></a>
                {{ post.data.description }}
            </div>
        </li>
    </div>{% endfor %}
    </div>
<article>