---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layouts/tag.njk
---
<img src="/assets/tags/{{ tag }}.png">
<ol>
{% set taglist = collections[ tag ] %}
{% for post in taglist %}
  <li>
    <a href="{{ post.url }}">
      {% if post.data.series %} {{ post.data.series }} - {% endif %}
      {% if post.data.episode %} {{ post.data.episode }} - {% endif %}
      {{ post.data.title }}
    </a></li>
{% endfor %}
</ol>