<b>Episode List</b>
<table>
<tr><th>Image</th><th>Episode</th><th>Date</th><th>Title</th><th>Japanese</th><th>Notes</th>
{%- for post in episodes -%}
  <tr><th>{{ post.data.image }}</th><th><a href="{{ post.url | url }}">{{ post.data.episode }}</a></th><th>{{ post.date | htmlDateString }}</th><th>{{ post.data.title }}</th><th>{{ post.data.name }}</th></tr></a>
{%- endfor -%}
</table>