---
layout: layouts/post.njk
tags: [ "minky-momo", "age-change", "princess", "single-heroine" ]
title: "Magical Princess Minky Momo"
name: "魔法のプリンセス ミンキー モモ"
description: "Minky Momo is a Princess from the kingdom of Fenarinarsa"
subpages: [["/series/minky-momo/","Main"], ["/series/minky-momo/characters/","Characters"], ["/series/minky-momo/guide/","Episode Guide"], ["/series/minky-momo/gallery/", "Gallery" ]]
date: 1982-03-18
enddate: 1983-03-18
episodes: 62
media: /series/minky-momo/media/
format: ["TV", "OVA", "Movie", "Novel"]
---
{{ content | safe }}