
:root
{
  --background-col: #ecc5e0;
  --button-col: hsl(187 75% 64%);
  --button-selected-col: red;
  --panel-col:hsl(187 70% 85%);
  --page-width: 1366px;
}

body {
  background: var(--background-col);
  font-family: arial, sans-serif;
  overflow-y: scroll;
}

header
{
  margin: auto;
	max-width: calc(var(--page-width) / 2);
  z-index: 999;
  background: var(--background-col);
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}
header .logo
{
  width:256px;
  height:192px;
  margin:0px;
  padding:0%;
  flex-basis:40%;
}
header nav
{
  flex-basis: 40%;
  max-width: 640px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
.icon
{
  border-radius: 50%;
  max-width:128px;
  float: left;    
  margin: 0 15px 0 0;
}
 
.timeline_item h1, .timeline_item h2
{
  margin-top:0;
  text-align: center;
}
.timeline_item
{
	background: var(--panel-col);
	border-radius: 0.5rem;
	overflow: hidden;
  line-height: 0.5em;
  text-align: center;
	display: flex;
	flex-wrap: wrap;
	border: 0.2rem solid;
}
.timeline .timeline_item
{
}
.articleHeader .timeline_item
{  
  max-width: calc(var(--page-width) + 46px);
  margin: auto;
}
.timeline_item .timeline_image img
{
	aspect-ratio: 1/1;
	object-fit: cover;
	flex: 1 1 300px;
	outline: 0.2rem solid;
  width: 256px;
  height:100%;
}
.timeline_item_text {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
  text-align: left;
  display: block;
}
.timeline_item_text > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}
.pagelist {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bigbutton {
  flex-basis: auto;
	color: black;
  padding:1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 1em;
	background: var(--button-col);
  text-align: center;
}
.bigbutton_selected {
  background: var(--button-selected-col);
}

.timeline_tags {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 0;
  margin-top:0;
}
.tag {
  flex-basis: auto;
  margin:0.2em;
	background: var(--button-col);
  max-height:2em;
}

.articleHeader
{
  display: contents;
}
article, .timeline {
  overflow: auto;
	max-width: var(--page-width);
  margin: auto;
  border: 2px solid #000000;
  border-radius: 0.5em;
  padding: 1.5em;
  background-color: white;
}

div.timeline_item:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div:nth-child(1)
{
  max-height:48px;
}

article table
{
  text-align: center;
  max-width: 100%;
  width: 100%;
}
article table img, article table video
{
  width:100%;
  height: auto;
  object-fit: contain;
}
.EpisodeList img
{
  width:10vw;
}

.inline_left 
{
  float:left;
}
.inline_right
{
  float:right;
}
.inline_left, .inline_right
{
  margin: 2em;
  padding: 4px;
  border:2px solid black;
}
.inline_left img, .inline_right img
{
  max-height: 50vh;
  display:block;
}

th, td
{
  overflow:auto;
}

.construction
{
  max-height: 50vh;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background-color: var(--panel-col);
  content: '☆';
  padding: 0 4px;
  position: relative;
  top: -0.25em;
}

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black; }

.gallery
{ 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.gallery img
{
  border: 2px solid black;
  border-radius: 1em;
  max-width: 100%;
	object-fit: contain; 
}