:root
{
  --background-col: white; /* rgb(247, 222, 239); */
  --button-col: rgb(232, 230, 94);
  --button-selected-col: rgb(242, 146, 255);
  --button-border: black;
  --text-col: black;
  --panel-col:rgb(250, 210, 241);
  --page-width: 1024px;
}

body {
  background: var(--background-col);
  font-family: arial, sans-serif;
  overflow-y: scroll;
  color: var(--text-col);
}

header
{
	max-width: var(--page-width);
  z-index: 999;
  background: var(--background-col);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1em auto;
}
header .logo
{
  width:256px;
  height:192px;
  margin:0px;
  padding:0%;
  flex-basis:40%;
}
header ul, .pagelist
{
  list-style-type: none;
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 32px;
  justify-items: center;
  margin: auto;
}
@media (min-width: 500px) {
  header ul, .pagelist {
    grid-auto-flow: column;
  }
}

header li, .bigbutton
{
  padding: 0.5em 1em 0.5em 1em;
  border: 2px solid var(--button-border);
  border-radius: 1em;
  background-color: var(--button-col);
}
header li:hover, .bigbutton:hover {
  background-color: var(--button-selected-col);
}

header ul a, .bigbutton {
  text-decoration: none;
}
.bigbutton_selected {
  background: var(--button-selected-col);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
.icon
{
  max-width:128px;
  float: left;    
  margin: 0 15px 0 0;
}
 
.timeline_item h1, .timeline_item h2
{
  margin: 0;
  text-align: center;
}
.timeline_item
{
	background: var(--panel-col);
	border-radius: 0.5rem;
	overflow: hidden;
  text-align: center;
	display: flex;
	flex-wrap: wrap;
	border: 0.2rem solid;
  margin-bottom: 0.5em;
}
.articleHeader .timeline_item
{  
  max-width: var(--page-width);
  margin: auto;
}
.timeline_item .timeline_image img
{
  object-fit: cover;
	flex: 1 1 300px;
	outline: 0.2rem solid;
  width:192px;
  height:100%;
}
.timeline_item_text {
	padding: 0.5em;
	flex: 1 0 50%;
  text-align: left;
  display: block;
}
.timeline_item_text > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}
.pagelist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.timeline_tags {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 0;
  margin-top:0;
}
.tag {
  flex-basis: auto;
  margin:0.2em;
	background: var(--button-col);
  border-radius: 0.5em;
  border: 1px solid var(--button-border);
  max-height:2em;
}
.tag:hover {
  background-color: var(--button-selected-col);
}

.articleHeader
{
  display: contents;
  position: relative;
  z-index: 1;
}
article, .timeline {
  overflow: auto;
  position: relative;
	max-width: var(--page-width);
  margin: auto;
}

article table
{
  text-align: center;
  max-width: 100%;
  width: 100%;
}
article table img, article table video
{
  width:100%;
  height: auto;
  object-fit: contain;
}
.EpisodeList img
{
  width:10vw;
}

.inline_left, .inline_right
{
  margin: 1em;
  padding: 4px;
  text-align: center;
  border:2px solid var(--button-border);
}
.inline_left 
{
  float:left;
  margin-left:0;
}
.inline_right
{
  float:right;
  margin-right: 0;
}
.inline_left img, .inline_right img
{
  max-height: 50vh;
  display:block;
}

th, td
{
  overflow:auto;
}

.construction
{
  max-height: 50vh;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top:0;
}
hr:after {
  background-color: var(--panel-col);
  content: '☆';
  padding: 0 4px;
  position: relative;
  top: -0.9em;
}

a:visited { text-decoration: none; color: var(--text-col); }
a:hover { text-decoration: none; color: var(--text-col); }
a:focus { text-decoration: none; color: var(--text-col); }
a:hover, a:active { text-decoration: none; color: var(--text-col); }

.gallery
{ 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  grid-gap: 1em;
  align-items:normal;
}
.gallery img
{
  border: 2px solid var(--button-border);
  border-radius: 1em;
  max-width: 100%;
	object-fit: contain; 
}

.page_region
{
  overflow: auto;
}