<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
    {% if pagename %}
        <title>{{ title }} | {{ pagename }} | Majokko Media</title>
    {% else %}
        <title>{{ title }} | Majokko Media</title>
    {% endif %}

</head>
<body>
<header>
    <a href="/"><img class="logo" src="/assets/logo.png" alt="Majokko Media"></a>
    <p>Magical Girl anime history and fan site<p>
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/list"><li>Series List</li></a>
        <a href="/tags/guide"><li>Episode Guides</li></a>
        <a href="/contact"><li>Contact</li></a>
    </ul>
</header>
{{ content | safe }}
</body>
</html>