---
layout: layouts/base.njk
---
<div class="articleHeader">
    <div class="timeline_item">
        <a class="timeline_image" href="{{ url | url }}"><img  src="/series/{{ series }}/media/icon.jpg"/></a>
        <div class = "timeline_item_text">
        <h1>{{ title }}</h1><h2>{{ name }}</h2></a><p>
        <h2 class="post-date">{{ date | readableDate }}{% if enddate %} - {{ enddate | readableDate }}{% endif %}</h2>
        <hr><br>{{ description }}<p>
        <div class="timeline_tags"> Tags: {% for tag in tags %}{% if tag != "series" %}<a href="/tags/{{ tag }}"><img class="tag" src="/assets/tags/{{ tag }}.png"</img></a>{% endif %}{% endfor %} </div>
        <div class="timeline_tags"> Formats: {% for tag in format %}{% if tag != "series" %}<img class="tag" src="/assets/tags/format_{{ tag }}.png"</img>{% endif %}{% endfor %}</div>
        </div>
    </div>
</div>
<article>
{% if subpages %}
<div class="pagelist">
{% for link in subpages %}
{% if link[0] === page.url %}<div class="bigbutton bigbutton_selected">{{ link[1] }}</div>
{% else %} <a class="bigbutton" href="{{ link[0] }}">{{ link[1] }} </a>
{%endif%}
{% endfor %}
</div><p>{% endif %}
{{ content | safe }}
</article>