---
layout: layouts/base.njk
---
<div class="articleHeader">
    <img class="icon" src="/media/{{ id }}/icon.jpg"/>
    <div class="details">
        <h2 class="post-title">{{ title }}</h2>
        <h2 class="post-title">{{ name }}</h2>
        <h3 class="post-date">{{ date | readableDate }}</h3>
        <img class="featured-image" src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
    </div>
</div>

<article> {{ content | safe }} </article>